<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>
<body>
<nav layout:fragment="nav" class="row">
    <div class="navbar navbar-default" >
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="dashboard">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>


            <div class="dropdown">
                <button class="btn dropdown-toggle sr-only" type="button"
                        id="dropdownMenu1" data-toggle="dropdown">
                    Menú desplegable
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Acción</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Otra acción</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Otra acción más</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Acción separada</a>
                    </li>
                </ul>



            <!--
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span th:text="#{nav.prueba}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="tipoBasico">
                                    <span th:text="#{nav.mantenimientoTipo}"></span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="basico">
                                    <span th:text="#{nav.mantenimientoOpciones}"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul> -->
                <!-- Add Entradas Menu -->
                <!-- End Add Entradas Menu -->
            </div>

        </div>

    </div>

</nav>

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/dropdown.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/button.js"></script>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/tabs.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>


</body>
</html>