<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title th:text="#{layout.sauce.titulo}"></title> -->
    <title th:text="regepacv"></title>
    <link rel="shortcut icon" href="resources/img/regepacv.png" />
</head>
<body>

<div class="container">
   <!-- <header th:replace="components/header"></header> -->
    <!-- Hay que incorporar nuestro menu - <nav th:replace="components/nav"></nav> -->
    <nav th:replace="/components/nav"></nav>

    <div class="panel panel-default">
        <div class="panel-body">
            <div layout:fragment="primary-section"></div>
        </div>
    </div>
</div>

</body>
</html>